*{
    margin:0;
    padding:0;
}


.full-nav{
    display:flex;
    gap:20px;
    background-color: #36454F;
    color:darkgray;
    
}

a{
    text-decoration: none;
    color:darkgrey
}

.meeting{
    background-color: green;
    padding:1.2rem;
    border:none;
    color:white;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.book{
    background-color: greenyellow;
    padding: 1.2rem;
    border:none;
    color: white;
    width:50%;
}

.second-nav{
    background-color: #36454F;
    display: flex;
    gap:20px;
    align-items: center;
    