.navigation{
    display:flex;
    gap:2rem;
    list-style-type:none;
    align-items: center;
    margin:0;
    justify-content: space-around;
    border-bottom: 2px solid black;
    
}


.container{
    display: inline-block;
    font-family: "arial";
    font-size: 64px;
    margin-left: 2rem;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .hero-button{
    margin: 2rem;
    padding: 2rem;
    background-color: blue;
    color: white;
  }


  .information{
    border-top: 2px solid black;
    display: flex;
    
  
  }

  .right{
    width:40vw;
    margin:auto;

  }
  ul{
    list-style-type: none;
  }

  .consulting ul {
    display:flex;
  }