*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    --text-color:white;
    color:red;
}

ul{

    display:flex;
    gap:20px;
    color:var(--text-color);
    align-items: center;
  
    
    margin: 20px 10px;
}

li{
    list-style: none;
}

.nav{
    height:10vh;
    width:100%;
    background-color: black;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:sticky;
    text-align: center;
    z-index: -3;
    
    
}

.body{
    height: 2200px;
    width: 100%;
    border: 1px solid black;
}

.shopping,.search,.logo{
    width: 3%;
  
}
.logo{
    margin-bottom:7px;
}
